body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #003366; /* Couleur du header */
}

footer {
    background-color: #222222;
}

footer p {
    color: white;
}
